---
layout: default
---
<div class="row">
  {% for post in site.posts %}  
  {% if post.category == "Homepage" %} 
        <div class="col-md-4">
         <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel fixed-panel {{ post.panelcolor }}" style="overflow: hidden;">
                <div class = "panel-heading">
                {{ post.icon }}
                </div>
                  <div class="panel-body">
                  <h5 class = "label"> {{ post.title | truncate: 50 }} </h5>
                  <!-- </small> --> <!-- <span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span> -->
                  </div>
               </div>
                </a>
            </div>
         {% endif %}
          {% endfor %}
    </div> 
