<!-- Footer -->
<footer id = "footer" class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  <div class = "row">
  <div class = "col-md-3"> </div>
  <div class = "col-md-3">
  <b>Store Address: </b> <br>
  <b class = "blackbold"> 3215 17 Ave SE, Calgary, AB T2A 0R1 </b> 
  </div> 
  <div class = "col-md-3">
  <b>Phone Number: </b>  <br>
  <b class = "blackbold"> 403-481-5636 (TEXT ONLY)</b> 
  </div>
  <div class = "col-md-3"> </div>
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->